@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&family=Roboto:ital,wght@0,100;0,300;0,400;0,700;1,400;1,700&display=swap');

body {
    --topbar-bg-color: #252525;
    --bg-color: #4E4E4E;
    --panel-bg-color: #3E3E3E;
    --panel-bg-highlight-color: #3E3E45;
    --line-color: #333333;
    --text-color: #FFFFFF;
    --panel-bg-opacity: 0.8;
    --backdrop-blur: 10px;
    --input-bg-color: #202040;
    --input-bg-color-hover: #303050;
    --input-outline-color: #606060;
    color: var(--text-color);
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

canvas {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
}
.root {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}
input {
    font-family: 'Roboto Mono', monospace;
    background-color: var(--input-bg-color);
    color: var(--text-color);
    border: none;
    border-radius: 5px;
    padding: 5px;
}

input:hover {
    background-color: var(--input-bg-color-hover);
    outline: 1px solid var(--input-outline-color);
}
