.hierarchy {
    background-color: var(--panel-bg-color);
    opacity: var(--panel-bg-opacity);
    transition-property: background-color;
    transition-duration: 0.1s;
}

.hierarchy:hover {
    background-color: var(--panel-bg-highlight-color);
}
