.inspector {
    background-color: var(--panel-bg-color);
    transition-property: background-color;
    transition-duration: 0.1s;
    box-sizing: border-box;
}

.inspector h3 {
    margin-left: 0.5rem;
}

.inspector:hover {
    background-color: var(--panel-bg-highlight-color);
}

.inspector_component {
    margin: 0.5rem;
    padding: 0.5rem;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    background-color: var(--subpanel-bg-color);
    border-radius: 0.5rem;
}

.inspector_component_name {
    font-size: 1rem;
    font-weight: bold;
    margin-bottom: 0.5rem;
    display: inline-block;
}

.input {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    margin-bottom: 0.5rem;
}

.input span {
    margin-right: 0.5rem;
}

.input input {
    flex-grow: 1;
}

.inspector h3 {
    margin-top: 0;
}
