.hierarchy {
    background-color: var(--panel-bg-color);
    transition-property: background-color;
    transition-duration: 0.1s;
}

.hierarchy:hover {
    background-color: var(--panel-bg-highlight-color);
}

.hierarchyItem {
    display: block;
    background-color: transparent;
    text-align: left;
    font-weight: 600;
    padding: 0.5em;
    width: 100%;
    color: var(--text-color);
    border: none;
    border-bottom: 1px solid var(--line-color);
    transition-property: background-color;
    transition-duration: 0.1s;
    border-radius: 0.5em;
    pointer-events: auto;
}

.hierarchyItem:hover {
    background-color: var(--input-bg-color-hover);
}
